h1{
    color: white;
    background-color: #06325c;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
#form{
    margin-top: 15px;
    margin-bottom: 15px;
}
form{
width: 100%;
max-width: 600px;
margin: 0 auto;
border: 1px solid black;
border-radius: 5px;
padding: 20px;
background-color: #acd7ec;
}
form label{
color: black;
font-size: 15px;
width: 15%;
display: inline-block;
}
form input{
width: 90%;
} 
.formrow{
display: flex;
margin-bottom: 10px;
}
.formrowsubmitbtn{
    width: 100%;
    display: flex;
    justify-content: end;
}
.formrowsubmitbtn input{
    width: 100%;
    max-width: 100px;
    text-align: center;
    background-color: darkred;
    border-radius: 5px;
    color: azure;
}
.formrowsubmitbtn input:hover{
    background-color:  #E5ADA8;
    color: darkred;
}
h2{
    color: #06325c;
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.social-icons li a i {
    font-size: 30px;
    color: darkred;
    display: inline-block;
    transition: transform 0.3s ease;
}
/* Hover Effect */
.social-icons li a:hover i {
    transform: scale(2);
    color: #E5ADA8;
}
