* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFE8D8;
}
.page-head{
  position: relative;
}
h1{ 
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
h2{ 
    text-align: center;
    margin-bottom: 10px;
}
#main-para{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ui-accordion {
  max-width: 800px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  width: 100%;
  overflow: visible;
  
}
.ui-accordion-header {
  background-color: #ffffff;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.ui-accordion-header:hover {
  background-color: #E5ADA8; 
}
.ui-accordion-header-active {
  background-color: #E5ADA8;
  color: #000;
}
.ui-accordion-content {
  background-color: #7627;
  color: #555;
  font-size: 14px;
  line-height: 1.6;
  padding: 12px 16px;
  border-left: 3px solid #E5ADA8;
  border-radius: 0 0 6px 6px;
}
.ui-widget-content,
.ui-widget-header {
  border: none;
  background: none;
}
@media (max-width: 500px) {
    .ui-accordion-header {
        font-size: 16px;
        padding: 12px 15px;
    }
    .ui-accordion-content {
        font-size: 14px;
        padding: 15px;
    }
}
.bg-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
  z-index: -1;
}

.circle1 {
  width: 500px;
  height: 500px;
  background: #ff4d6d;
  top: 10%;
  left: 5%;
}

.circle2 {
  width: 600px;
  height: 600px;
  background: #775d63;
  bottom: 10%;
  right: 5%;
}
.circle3 {
  width: 300px;
  height: 300px;
  background: #b46679;
  top: 2%;
  right: 10%;
}
.circle4 {
  width: 350px;
  height: 350px;
  background: #a16c7a;
  bottom: 10%;
  left: 2%;
}
.bottom{
  text-align: center;
  padding: 5px;
  margin-top: 40px;
}
.bottom .btn{
  display: inline-block;
  padding: 10px 40px;
  background-color: darkred;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  
}
.btn:hover{
  background-color: #E5ADA8;
  color: darkred;
}
.faq-section {
  display: flex;
  gap: 60px;
  padding: 80px 10%;
  align-items: flex-start;
}

.faq-left {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.faq-left h4 {
  color: #8b0000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.faq-left h2 {
  font-size: 32px;
  margin: 10px;
  width: 100%;
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.faq-left p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.faq-left ul {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.faq-left li {
  margin-bottom: 10px;
  font-weight: 500;
}
.faq-right {
  width: 100%;
  height: auto;
}

.faq-right h1 {
  font-size: 36px;
}

.faq-subtitle {
  margin-bottom: 30px;
  color: #555;
}
@media (max-width: 768px) {
  .bg-circle {
    transform: scale(0.6);
  }
  .faq-section {
    flex-direction: column;
    padding: 20px;
  }
  .faq-left {
    padding: 0;
    text-align: center;
    align-items: center;
  }
  .faq-right {
    padding: 20px;
  }

}
@media (max-width: 480px) {
  .faq-left .btn {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }
  .faq-left h2 {
    font-size: 24px;
  }
}

