* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFE8D8;
}
.gallery-page .image-container {
  position: relative;       
  width: 100%;
  height: 70vh;              
}
.gallery-page .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 10;              
  padding: 1rem;
}
.text-overlay h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
}

.text-overlay p {
  font-size: clamp(1rem, 3vw, 1.3rem);
}
@media (max-width: 768px) {
  .image-container {
    height: 50vh;
  }
}
h2{
  padding: 40px;
  text-align: center;
  animation: slideUp 1.5s ease-out forwards;
  opacity: 0;
  font-size: 25px;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    
    
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 550px;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
