* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFE8D8;
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 600px;
}

.text-overlay {
  position: absolute;
  top: 15%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black; 
  text-align: center;
}
h2{
  padding: 40px;
  margin-left: 300px;
  animation: slideUp 1.5s ease-out forwards;
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.my-slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 5px solid #ffffff;

}
@media (max-width:768px) {
  h2{
    text-align: center;
    margin-left: 0;
  }

}

