
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFE8D8;
    overflow-x: hidden;
}

.header {
    background-color: darkred;
    padding: 14px 22px;
    display: flex;
    gap: 12px;
    padding: 12px 18px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    
}

.logo img {
    width: 70px;
    height: 42px;
    width: auto;
    display: blockd;
    object-fit: contain;
    flex: 0 0 auto;
}



.brand {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
}

.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.nav li {
    position: relative;
    list-style: none;
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-size: 14px;
}

.nav a:hover {
    background-color: #E5E0D8;
    color: black;
    border-radius: 6px;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1;
    background-color: #06325c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

}

.drop:hover .drop-menu {
    display: block;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #E5ADA8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}






